@import "tailwindcss";
@import './styles/fonts.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3B2F2F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.clip-custom-card-first {
  clip-path: polygon(10% 10%,
      /* top-left */
      96% 0%,
      /* top-right */
      90% 100%,
      /* bottom-right (inward) */
      0% 90%
      /* bottom-left (inward) */
    );
}

.clip-custom-card-second {
  clip-path: polygon(10% 10%,
      /* top-left */
      90% 0%,
      /* top-right */
      100% 97%,
      /* bottom-right (inward) */
      0% 97%
      /* bottom-left (inward) */
    );
}

.clip-custom-card-thrid {
  clip-path: polygon(3% 0%,
      /* top-left */
      100% 3%,
      /* top-right */
      90% 90%,
      /* bottom-right (inward) */
      0% 97%
      /* bottom-left (inward) */
    );
}

/* También aplicar redondeo al wrapper que contiene la tabla */
.p-datatable-wrapper {
  border-radius: 0.5rem !important;
  background-color: var(--color-hazelBrown) !important;
}

/* Quitar bordes de las celdas */
.p-datatable td,
.p-datatable th {
  border: none !important;
  box-shadow: none !important;
}

/* Encabezados */
.p-datatable .p-datatable-thead>tr>th {
  color: var(--color-softBeige);
  background-color: var(--color-hazelBrown);
}

/* Filas base normales */
.p-datatable .p-datatable-tbody>tr {
  color: var(--color-softBeige);
  background-color: var(--color-hazelBrown);
}

.p-tag-success {
  background-color: var(--color-warmGreen) !important;
}

.p-tag-danger {
  background-color: var(--color-warmRed) !important;
}

.p-datatable .p-datatable-tbody>tr.p-highlight {
  color: var(--color-charcoalBlack) !important;
  background-color: var(--color-softOrange) !important;
}

.p-datatable .p-datatable-tbody>tr:hover {
  color: var(--color-charcoalBlack) !important;
  background-color: var(--color-peachTint) !important;
}

.p-datatable .p-datatable-header {
  margin-bottom: 15px;
  border-radius: 0.5rem !important;
  color: var(--color-softBeige) !important;
  background-color: var(--color-hazelBrown) !important;
}

.p-datatable .p-datatable-footer {
  margin-top: 15px;
  border-radius: 0.5rem !important;
  color: var(--color-softBeige) !important;
  background-color: var(--color-hazelBrown) !important;
}

@theme {
  --color-darkBrown: #3B2F2F;
  --color-charcoalBlack: #1F1F1F;
  --color-softBeige: #F6E3CE;
  --color-blushPink: #F7B2B7;
  --color-hazelBrown: #6D4C41;
  --color-boneWhite: #FAF9F6;
  --color-slateGray: #6E6E6E;
  --color-peachTint: #FFD6AF;
  --color-softOrange: #FF8A65;
  --color-neutralBrown: #8D6E63;
  --color-warmGreen: #6DBE7B;
  --color-warmRed: #C95B52;
}